@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/* Base structure */

html,
body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  min-height:100vh;
}

.outline {
    text-shadow: 2px 0px white, 0px 2px white, 0px -2px white, -2px -2px white;
}
.blurb {
    border-radius: 70% 40% 50% 30%;
    border: 10px solid white;
    border-width: 10px 25px 19px 12px;
}
.blurb.traits {
    border-radius: 5%;
}
.jumbotron {
	background: url('../img/social.jpg') no-repeat;
    background-size: 100%;
	padding: 6rem 2rem;
    padding-top:0rem!important;
}
.no-bg {
    background: none;
}

h3 { font-size: 32px; font-weight: 700; }
p.lead { font-weight: 700; }

.divider { 
	background-color: #FFF; 
	height: 5px; 
	width: 20%; 
	margin: 20px 0; 
}

.bg-secondary {	background-color: #ffbfbf!important; }
.bg-secondary p { color: #FFF; }
.bg-secondary h3 { color: #111; }

a {
    background: #e489ef40;
    color: white;
    transition: all 0.3s ease;
}
a:hover, a:focus { color: white; text-decoration: underline; -webkit-text-stroke-width: 2px; }
.bg-secondary a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.bg-secondary a:focus,.bg-secondary a:hover { color: #111; }

/* Header/Nav */
.masthead {
  margin-bottom: 2rem;
  position: absolute;
  right:0;
}
.masthead .inner {
	padding: 1rem 3rem 3rem 3rem;
}

.masthead-brand {
  margin-bottom: 20px;
  color: #5EBD6D;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-transform: uppercase;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Form */
.token-selector-form {
	margin: 60px 0;
}
.token-selector-form input[type="text"], .token-selector-form select, .token-selector-form input[type="submit"] {
    box-shadow: 0px 0px 47px 0px rgb(168 119 177 / 0.3);
}
.token-selector-form input[type="text"] {
	border: 1px solid #e489ef;
	padding: .4em 1em;
	border-radius: 4px;
	width: 50%;
	margin-bottom: 20px;
}
.token-selector-form input[type="text"]:focus {
	outline: none !important;
	border: 1px solid #FFF;
    box-shadow: 0px 0px 47px 0px rgb(168 119 177 / 0.3);
}
input[type="submit"] { 
	background-color: #e489ef; 
	color: #FFF; 
	border-radius: 34px; 
	border: none; 
	padding: .6em 1em; 
	cursor: pointer;  
    font-family: 'Hachi Maru Pop', cursive;
	transition: all 0.3s ease;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    border: 10px solid white;
    box-shadow: 0px 5px 1px 10px rgba(250,200,200,1) !important;
}
input[type="submit"]:hover {
	background-color: #f1a3fb; 
    border: 10px solid rgba(255, 255, 255, 0.9);
    box-shadow: 5px 10px 1px 15px rgba(255,220,220,0.96), -5px 10px 1px 15px rgba(255,220,220,0.96) !important;
}

/* Custom Select styles 
https://www.w3schools.com/howto/howto_custom_select.asp */

.custom-select select {
  display: none;
}

.custom-select {
  width: 250px;
  position: relative;
  border: 1px solid #5EBD6D;
  color: #444;
  border-radius: 4px;
  padding: 0;
}

.select-selected {
  color: #5EBD6D; 
  font-weight: 700;
}

.select-items div,.select-selected {
  padding: 8px 16px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #FFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #5EBD6D;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/* Footer */
#footer-main h4, #footer-main a.text-muted {
	color: #f8f8f8!important;
	font-size: 16px;
}

#footer-main h4 {
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 18px;
}

#footer-main li {
	margin-bottom: .2rem;
}

/* Page Styles */

/* Home*/
img.logo-main { width: 15%; margin-bottom: 30px; }
#sm-links .nav-item { margin: 0 1rem; }
.blurb p { font-size: 24px; }

#featured-projects { padding: 4rem 1rem; }
#featured-projects .col { padding: 2rem; }
#featured-projects .col img {
	width: 100%;
}
#featured-projects h3 { font-size: 32px; }
#featured-projects p { font-size: 18px; color: #999; }

#banner-bottom {
	background: url('../img/bg-banner-bottom.png') top right no-repeat;
  padding: 4rem 2rem;
  background-size: cover;
}

#banner-bottom  h3 {
	color: #FFF;
	font-weight: 700;
	font-size: 34px;
}

body {
    font-family: 'Mali', cursive;
    font-size: 30px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #252525;
}

h1 {
    font-size: 9rem;
    font-family: 'Hachi Maru Pop', cursive;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #252525;
}

h1#name {
    font-size: 6rem;
}

::selection {
    background: pink;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        font-size: 14px;
    }
    h1 {
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
    }
    .masthead .inner {
        padding: 0.3rem;
    }
    .jumbotron {
        padding: 1rem!important;
    }
    .blurb {
        padding: 0rem!important;
    }
	img.logo-main { width: 30%; }
	.nav-masthead .nav-link { font-size: 13px; }
	.custom-select { margin-bottom: 20px; }
	.custom-select, .token-selector-form input[type="text"], .token-selector-form select, .token-selector-form input[type="submit"] { width: 100%!important; }	
}

li {
    list-style: none;
}
